$primary-green: rgb(18, 237, 18);
$primary-dark-grey: rgb(19, 19, 19);
$primary-mid-grey: #444;
$primary-light-grey: rgb(175, 175, 175);
$primary-white: rgb(221, 221, 221);
$primary-image-overlay: rgba(199, 198, 198, 0.631);
